
.container_user{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    min-height: 70vh;
    overflow: auto;
    margin: 2% auto;
}
footer{
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
}
.buscar{
    display: flex;
    min-width: 100%;
    margin: 5px 0;
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
}
.buscar .inpB{
    width: 80%;
    border:1px solid #bbb;
    outline: none;
    height: 40px;
    padding:0 10px;
}
.buscar button{
    width: 20%;
    border: none;
    background-color: #00A8E8;;
    color:#fff;
    font-weight: 600;
    border-radius: 0px 5px  5px 0px;
}

.list{
    list-style: none;
    box-sizing: border-box;
    padding: 0 30px;
}
.infoUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 0;
}
.info{
    background-color: #fff;
    box-shadow: 0px 5px 10px #ddd;
    width:80%;
    border-radius:10px;
    padding: 10px 5px;
    height: 100px;
}
.info p{
    font-size: 18px;
    font-weight: 600;
    color: #00171F;
    margin: 10px 0;
}
.info span{
    color:#666;
    font-size: 15px;
}
.infoUser a{
    background-color: #00A8E8;;
    color:#fff;
    font-weight: 600;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .container_user{
        margin: 5% auto;
    }
}